@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body { 
    font-family: 'Manrope', sans-serif;
    min-height: max(884px, 100dvh);
  }
  h1, h2, h3, .font-serif { 
    font-family: 'Noto Serif', serif; 
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  /* Custom hide scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
  }
}
